<div class="contents row">
  <div class="container">
    <%= form_with(model: @todo, local: true) do |f| %>
      <h3>
        Todo登録
      </h3>
      <%= f.text_field :name, placeholder: "タスク名を記入" %>
      <%= f.text_area :comment, placeholder: "タスク詳細を記入"%>
      <%= f.number_field :quote, class: "poms", min: 1, max: 20 %>
      <p class=pomodoro_quote>ポモドーロ（予測）</p>
      <%= f.submit "登録", class: "reg-btn" %>
    <% end %>
  </div>
</div>