<div class="contents row">
  <div class="container">
    <%= form_with(model: @todo, local: true) do |f| %>
      <h3>
        Todo登録
      </h3>
      <%= f.text_field :name, placeholder: "タスク名を記入" %>
      <%= f.text_area :comment, placeholder: "タスク詳細を記入"%>
      <%= f.number_field :quote, class: "poms", min: 1, max: 20 %>
      ポモドーロ
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>

<div class= "contents row">
  <h2 class="menu">Todo一覧</h2>
  <div class="todo_list">
    <% @todos.each do |todo| %>
      <div class="container">
        <p>タスク名</p><%= todo.name %>
        <span class="comment_post">
        <p>タスク詳細</p><%= todo.comment %>
        </span>
      </div>
    <% end %>
  </div>
</div>
