<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">CoreTodo</a></h1>
    <div class="grid-6">
      <%= link_to "ポモドーロDone", root_path, data: {confirm: "本当に終了しますか？"}, class: "post2" %>
      <% if @todo.next.present?%>
        <%= link_to "ポモドーロNext", pomodoro_todo_path(@todo.next), data: {confirm: "本当に終了しますか？"}, class: "post2" %>
      <% else %>
      <% end %>
    </div>
  </div>
</header>
<div class= "contents row">
  <div class="container">
    <h3 class="menu">Hi, Core Task.</h3>
    <div class="container">
      <p class="todo_title">タスク名</p>
      <p class="todo"><%= @todo.name %></p>
      <p class="todo_title">タスク詳細</>
      <p class="todo"><%= simple_format(@todo.comment) %></p>
      <p class="pomodoro_quote"><%= @todo.quote %></p>
      <p class="pomodoro_quote">ポモドーロ（予測）</p>
    </div>
  </div>
</div>

<div class= "contents row">
  <div class="container">
    <div class= "pomodoro_timer">
      <div id = "box">
        <div id = "pom_img">
          <%= image_tag 'tomato_green.png', size:'120x90' %>
        </div>
        <div id ="timer">25:00</div>
        <form>
          <input type ="button" id ="start" name ="start" value ="スタート">
          <input type ="button" id ="stop"  name ="stop" value ="ストップ" >
          <input type ="button" id ="reset" name ="reset" value ="リセット">
        </form>
      ※次タスクへ遷移する際は、タイマーを止めてから行ってください。</div>
    </div>
  </div>
</div>
<script>

$(function(){
  var time = 1500;
  var setI;
  var min;
  var sec;

  function startTimer() {
    time -= 1;
    min = Math.floor( time / 60 );
    sec = time % 60;
    min = ('00' + min).slice(-2);
    sec = ('00' + sec).slice(-2);
    $('#timer').html(min + ":" + sec);
    if (time === 0) {
      clearInterval(setI);
      time = 300;
      $('#start').prop('disabled',false);
      $('#timer').html("05:00");
    }
  }
  $('#start').on("click",function(){
    $('#pom_img').children('img').attr('src','/assets/tomato_red.png');
  });
  $('#start').on("click",function(){
    $('#start').prop('disabled',true);
    startInterval();
  });
  $('#stop').on("click",function stopTimer() {
    clearInterval(setI);
    $('#start').prop('disabled',false);
  });
  $('#reset').on("click",function() {
    $('#pom_img').children('img').attr('src','/assets/tomato_green.png');
  });
  $('#reset').on("click",function resetTimer() {
    clearInterval(setI);
    time = 1500;
    $('#start').prop('disabled',false);
    $('#timer').html("25:00");
  });

  function startInterval() {
    setI = setInterval(startTimer,1000);
  }
});

</script>
